# Dependecy directories
node_modules/
jspm_packages/
web_modules/
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data (SQLite database files & directories)
data.sqlite
data.sqlite-journal
data/

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehgport
Thumbs.db
Desktop.ini

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker Hub local deployments
docker-compose.prod.yml

package-lock.json